<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <style>
      body{
            background-color: darkgreen;
        }
        #navbarCollapse ul li::after{
          content: '';
          width: 0%;
          height: 2px;
          background:darkgreen;
          display: block;
          margin: auto;
          transition: 0.5s;
        }
        #navbarCollapse ul li:hover::after{
          width: 100%;
        }
        #navbarCollapse ul li a{
          color: #fff;
          text-decoration: none;
          font-size: 17px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md  fixed-top " style="background:#ffa500">
        <div class="container-fluid">
          <a style="font-size: 20px; font-weight: 600;color: #000;"  class="navbar-brand"href="index.html">MONSTER HUB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">Our Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
          <a class="btn btn-primary" href="login.html">Login</a>&nbsp;&nbsp;
          <a class="btn btn-success" href="register.html">Register</a>
        </div>
      </nav>
      <br><br><br>
<main>
    <center>
          <div class="col-md-8 text-center text-light " style="margin-top: 75px;">
            <h1 style=" font-weight: 600; font-family: 'Times New Roman', Times, serif;font-size: 50px;font-weight: 500;">OUR SERVICES</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Sint quo neque dolore vel enim odit, ipsam animi modi accusamus.
              Voluptatem neque officia enim suscipit omnis aut error eveniet consequatur
                nesciunt magni excepturi iusto, nam qui, aliquid aliquam, ullam laborum facilis delectus distinctio. 
                Ex voluptatibus illum praesentium cum eius architecto asperiores earum soluta distinctio explicabo hic ab tempora magni,
                eligendi quas, quis alias deleniti voluptates quo voluptatum sint. Praesentium, vero voluptatibus a quidem sunt accusamus. 
                Cumque quo quas provident, vel placeat quam? Inventore, mollitia facere. 
                Quia necessitatibus quas, dolore quis totam, accusantium aliquam similique, facilis aspernatur exercitationem non expedita. 
                Tenetur eligendi enim recusandae iusto. Possimus quia fuga provident sequi asperiores nobis officiis. 
                Recusandae, itaque facere expedita iste officia beatae ullam iusto soluta molestias, 
                deleniti pariatur in asperiores porro aliquam dolor repudiandae, dolorem vel! Dolore, sequi? Pariatur, odit quia quos, 
                cupiditate esse deleniti ipsam ipsa assumenda blanditiis inventore recusandae fugit vitae soluta.
                </p>
          </div>
    </center>
</main><br><br><br><br><br><br><br><br><br> 

<main> 
  <section>
      <footer class="footer mt-auto py-3 " style="background:#ffa500">
        <div class="container text-center">
          <span class="text-body-secondary text-light">MONSTER HUB. www.monsterhub.com &copy; 2024</span>
        </div>
      </footer>
  </section>
</main>
          
</body>
</html>